.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
node_modules
npm-debug.log
yarn-error.log
/vendor
/storage/*.key
Homestead.json
Homestead.yaml
auth.json
/.fleet
/.idea
/.vscode
*.md
!README.md
docker-compose.yml
Dockerfile
.dockerignore
